Repository Vera-Firefly/Virglrenderer-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian/x86_64_build_msm, debian/x86_64_build_minigbm, debian/x86_64_build_tracing

debian/x86_64_build_msm:
  variables:
    MESA_IMAGE: $CI_REGISTRY_IMAGE/${MESA_IMAGE_PATH}:${MESA_IMAGE_TAG}--${MESA_BASE_TAG}--${MESA_TEMPLATES_COMMIT}
    MESA_IMAGE_PATH: ${DEBIAN_X86_64_BUILD_IMAGE_PATH}
    MESA_IMAGE_TAG: ${DEBIAN_BUILD_TAG}
    MINIO_ARTIFACT_NAME: virgl-amd64
  ...

debian/x86_64_build_minigbm:
  variables:
    MESA_IMAGE: $CI_REGISTRY_IMAGE/${MESA_IMAGE_PATH}:${MESA_IMAGE_TAG}--${MESA_BASE_TAG}--${MESA_TEMPLATES_COMMIT}
    MESA_IMAGE_PATH: ${DEBIAN_X86_64_BUILD_IMAGE_PATH}
    MESA_IMAGE_TAG: ${DEBIAN_BUILD_TAG}
    MINIO_ARTIFACT_NAME: virgl-amd64
    EXTRA_OPTION: '-D minigbm_allocation=true
  
  ...

debian/x86_64_build_tracing:
  variables:
    MESA_IMAGE: $CI_REGISTRY_IMAGE/${MESA_IMAGE_PATH}:${MESA_IMAGE_TAG}--${MESA_BASE_TAG}--${MESA_TEMPLATES_COMMIT}
    MESA_IMAGE_PATH: ${DEBIAN_X86_64_BUILD_IMAGE_PATH}
    MESA_IMAGE_TAG: ${DEBIAN_BUILD_TAG}
    MINIO_ARTIFACT_NAME: virgl-amd64
    WRAP_DEBUG: default
  ...

renderer: Do not leak the buffer on creation failure
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Do not leak the texture on creation failure
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

Uprev Mesa to adaf4460bd19a9cc8249a0ddac442b5a05f5828d
  .gitlab-ci.yml
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

vrend/decode: refactor and test of create_sampler_view
  src/vrend_decode.c
  src/vrend_renderer.c
  src/vrend_renderer.h
  tests/test_virgl_cmd.c
Due: debian/x86_64_build_minigbm

vrend: Use uint64_t to evaluate readback size
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend/decode: refactor parameters check in vrend_create_surface
  src/vrend_decode.c
  src/vrend_renderer.c
  src/vrend_renderer.h
  tests/test_virgl_cmd.c
Due: debian/x86_64_build_minigbm

vrend: remove unused res_handle
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

Uprev Mesa to cb1c88d41f6dc213533f33f34e9224706f564849
  .gitlab-ci.yml
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
Due: none

tgsi: simplify opcode declaration
  src/gallium/auxiliary/tgsi/tgsi_info.c
  src/gallium/auxiliary/tgsi/tgsi_info.h
  src/gallium/include/pipe/p_shader_tokens.h
Due: none

vrend: work around silent integer overflow when reading back textures
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

drm_fence: Support inter-context fence sharing
  src/drm/drm_fence.c
Due: debian/x86_64_build_msm

virgl: Introduce virgl_fence
  src/meson.build
  src/virgl_fence.c
  src/virgl_fence.h
  src/virglrenderer.c
Due: none

mesa/util: Import libsync
  src/mesa/util/libsync.h
Due: none

virgl: Add virgl_renderer_export_signalled_fence()
  src/virglrenderer.c
  src/virglrenderer.h
Due: none

virgl: Introduce virgl_renderer_submit_cmd2()
  src/virgl_context.c
  src/virgl_context.h
  src/virglrenderer.c
  src/virglrenderer.h
Due: none

drm/msm: Support inter-context fence sharing
  src/drm/msm/msm_renderer.c
Due: debian/x86_64_build_msm

vrend: Fix race condition in vrend_renderer_export_ctx0_fence()
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

virgl/vrend: Use virgl_fence API for fence exporting
  src/virglrenderer.c
  src/virglrenderer.h
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: Check size of query result buffer and report if it is too small
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend/shader: Make size_t and uint64_t printing cross-platform
  src/vrend_renderer.c
  src/vrend_shader.c
Due: debian/x86_64_build_minigbm

video: Silence warning about printing a pointer as integer
  src/vrend_video.c
Due: none

tests: initialise all context parameters
  tests/test_fuzzer_formats.c
Due: none

vrend: Read only as many bytes as were mapped
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

mesa/util: balance pragma diagnostic push/pop in libsync.h
  src/mesa/util/libsync.h
Due: none

shader: make sure to never exceed the immediate range
  src/vrend_shader.c
Due: none

vkr: sync protocol for VK_EXT_vertex_input_dynamic_state
  src/venus/venus-protocol/vn_protocol_renderer.h
  src/venus/venus-protocol/vn_protocol_renderer_command_buffer.h
  src/venus/venus-protocol/vn_protocol_renderer_defines.h
  src/venus/venus-protocol/vn_protocol_renderer_device.h
  src/venus/venus-protocol/vn_protocol_renderer_dispatches.h
  src/venus/venus-protocol/vn_protocol_renderer_info.h
  src/venus/venus-protocol/vn_protocol_renderer_util.h
Due: none

vkr: implement VK_EXT_vertex_input_dynamic_state
  src/venus/vkr_command_buffer.c
  src/venus/vkr_common.c
Due: none

tgsi: Add `tgsi_dump_with_logger`
  src/gallium/auxiliary/tgsi/tgsi_dump.c
  src/gallium/auxiliary/tgsi/tgsi_dump.h
Due: none

renderer: Use tgsi_dump_with_logger to ensure complete dump
  src/gallium/auxiliary/tgsi/tgsi_dump.c
  src/gallium/auxiliary/tgsi/tgsi_dump.h
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

util: buffer the call to the logger by line
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

Uprev Mesa to edd3cd67c2f69a81fec0595ec1469a71521d6043
  .gitlab-ci.yml
  .gitlab-ci/expectations/host/virgl-gl-fails.txt
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/virgl-gl-fails.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
Due: none

ci: Add code coverage support
  .gitlab-ci/meson/build.sh
Due: none

meson: upref for new release
  meson.build
Due: none

resource: virgl_resource_create_from_pipe always take the ownership of the pipe_resource
  src/virgl_resource.c
  src/virglrenderer.c
Due: none

resource: virgl_resource_create_from_fd always take the ownership of the fd
  src/virgl_resource.c
  src/virglrenderer.c
Due: none

vkr: track VkQueueFamilyProperties to validate device creation
  src/venus/vkr_physical_device.c
  src/venus/vkr_physical_device.h
Due: none

vkr: validate queueCount at device creation
  src/venus/vkr_device.c
Due: none

vrend/decode: refactor parameters check in create_vertex_elements
  src/vrend_decode.c
  src/vrend_renderer.c
  tests/test_virgl_cmd.c
Due: debian/x86_64_build_minigbm

Path conditions:
  debian/x86_64_build_msm: any of: src/drm/**/*
  debian/x86_64_build_minigbm: any of: src/vrend_winsys_gbm.*, src/vrend_winsys_egl.c, src/vrend_renderer.c
  debian/x86_64_build_tracing: any of: src/virgl_util.h, src/virgl_util.c
