Repository Vera-Firefly/Virglrenderer-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian/x86_64_build_msm, debian/x86_64_build_minigbm, debian/x86_64_build_tracing

debian/x86_64_build_msm:
  variables:
    MESA_IMAGE: $CI_REGISTRY_IMAGE/${MESA_IMAGE_PATH}:${MESA_IMAGE_TAG}--${MESA_BASE_TAG}--${MESA_TEMPLATES_COMMIT}
    MESA_IMAGE_PATH: ${DEBIAN_X86_64_BUILD_IMAGE_PATH}
    MESA_IMAGE_TAG: ${DEBIAN_BUILD_TAG}
    MINIO_ARTIFACT_NAME: virgl-amd64
  ...

debian/x86_64_build_minigbm:
  variables:
    MESA_IMAGE: $CI_REGISTRY_IMAGE/${MESA_IMAGE_PATH}:${MESA_IMAGE_TAG}--${MESA_BASE_TAG}--${MESA_TEMPLATES_COMMIT}
    MESA_IMAGE_PATH: ${DEBIAN_X86_64_BUILD_IMAGE_PATH}
    MESA_IMAGE_TAG: ${DEBIAN_BUILD_TAG}
    MINIO_ARTIFACT_NAME: virgl-amd64
    EXTRA_OPTION: '-D minigbm_allocation=true
  
  ...

debian/x86_64_build_tracing:
  variables:
    MESA_IMAGE: $CI_REGISTRY_IMAGE/${MESA_IMAGE_PATH}:${MESA_IMAGE_TAG}--${MESA_BASE_TAG}--${MESA_TEMPLATES_COMMIT}
    MESA_IMAGE_PATH: ${DEBIAN_X86_64_BUILD_IMAGE_PATH}
    MESA_IMAGE_TAG: ${DEBIAN_BUILD_TAG}
    MINIO_ARTIFACT_NAME: virgl-amd64
    WRAP_DEBUG: default
  ...

drm/msm: Update uapi header
  src/drm/drm-uapi/msm_drm.h
Due: debian/x86_64_build_msm

drm/msm: Add fence wait-boost support
  src/drm/msm/msm_renderer.c
Due: debian/x86_64_build_msm

vrend: minigbm alloc requires EGL
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vkr: make gbm fallback optional
  meson.build
  src/venus/vkr_device_memory.c
  src/venus/vkr_physical_device.c
  src/venus/vkr_physical_device.h
Due: none

meson: EGL depends on GBM for non-windows
  meson.build
Due: none

meson: disallow minigbm for windows
  meson.build
Due: none

meson: refactor to add with_host_windows
  meson.build
  src/mesa/meson.build
  src/meson.build
Due: none

vrend: Add comments to some obscure operations on vrend_renderer
  src/vrend_renderer.c
  src/vrend_renderer.h
Due: debian/x86_64_build_minigbm

vrend: Import blob resource
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: fix venus window display in virgl based xserver
  src/vrend_renderer.c
  src/vrend_renderer.h
Due: debian/x86_64_build_minigbm

virgl: Enable vp9 hardware decode
  src/virgl_video.c
  src/virgl_video_hw.h
Due: none

video: Add support for mpeg2 decoding
  src/virgl_video.c
  src/virgl_video_hw.h
  src/vrend_video.c
Due: none

virgl: Implement vp9 hardware decode
  src/virgl_video.c
Due: none

video: Add support jpeg decoding
  src/virgl_video.c
  src/virgl_video_hw.h
  src/vrend_video.c
Due: none

video: Add YNV pipe format in virgl format table
  src/virgl_hw.h
  src/vrend_formats.c
Due: none

video: Add hevc10bit support decoding
  src/virgl_video.c
Due: none

video: Add support vc1 decoding
  src/virgl_video.c
  src/virgl_video_hw.h
  src/vrend_video.c
Due: none

vrend: Modify vp9 picture desc
  src/vrend_video.c
Due: none

vrend: Increate host_feature_check_version
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

video: Add trace information in decoding function
  src/vrend_video.c
Due: none

virgl: Add vp9 picture desc
  src/virgl_video_hw.h
Due: none

vrend: Lower output color clamping in guest
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

shader: Always emit viewport index extension when viewport index is used
  src/vrend_shader.c
Due: none

shader: Set min GLSL level up-front based on shader types
  src/vrend_shader.c
Due: none

vrend: Use shader based stipple, flat shader, and two-side color on GLSL >= 1.40
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

shader: require GLSL 150 when FP64 is used
  src/vrend_shader.c
Due: none

shader: require GLSL 140 when atomics are used
  src/vrend_shader.c
Due: none

Add support for requesting a compat profile
  src/virglrenderer.c
  src/virglrenderer.h
  src/vrend_blitter.c
  src/vrend_renderer.c
  src/vrend_renderer.h
  src/vrend_winsys_egl.c
  src/vrend_winsys_glx.c
  vtest/vtest_server.c
Due: debian/x86_64_build_minigbm

shader: use at least glsl 1.40 if available
  src/vrend_shader.c
Due: none

shader: require GLSL level 140 for SSBOs
  src/vrend_shader.c
Due: none

vrend/shader: lower clip planes to clipdistance with GLSL >= 1.40
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

ci: Enable piglit tesselation tests
  .gitlab-ci/expectations/host/virgl-gl-fails.txt
  .gitlab-ci/expectations/host/virgl-gl-skips.txt
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/host/virgl-gles-skips.txt
  .gitlab-ci/expectations/virt/virgl-gl-fails.txt
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

ci: Enable spec@arb_vertex_program.*
  .gitlab-ci/expectations/host/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
Due: none

ci: Enable test with VS input arrays on GLES hosts
  .gitlab-ci/expectations/host/virgl-gles-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

ci: enable texture_image_samples piglit tests
  .gitlab-ci/expectations/host/virgl-gl-fails.txt
  .gitlab-ci/expectations/host/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gl-fails.txt
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
Due: none

vrend: Report actual values for tesselaton shader outputs
  src/virgl_hw.h
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: gbm requires egl though egl can be NULL
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: fix false tabs to spaces
  src/virglrenderer.c
  src/vrend_decode.c
  src/vrend_renderer.c
  src/vrend_shader.c
  src/vrend_winsys_egl.c
  src/vrend_winsys_gbm.h
  tests/test_virgl_cmd.c
  tests/test_virgl_resource.c
  tests/test_virgl_transfer.c
  tests/testvirgl.c
  tests/testvirgl.h
  tests/testvirgl_encode.c
  tests/testvirgl_encode.h
Due: debian/x86_64_build_minigbm

tgsi: Replace TGSI parser asserts with return values
  src/gallium/auxiliary/tgsi/tgsi_dump.c
  src/gallium/auxiliary/tgsi/tgsi_iterate.c
  src/gallium/auxiliary/tgsi/tgsi_parse.c
  src/gallium/auxiliary/tgsi/tgsi_parse.h
  src/gallium/auxiliary/tgsi/tgsi_text.c
Due: none

util/format: remove most asserts from format queries
  src/gallium/auxiliary/util/u_format.h
Due: none

Path conditions:
  debian/x86_64_build_msm: any of: src/drm/**/*
  debian/x86_64_build_minigbm: any of: src/vrend_winsys_gbm.*, src/vrend_winsys_egl.c, src/vrend_renderer.c
  debian/x86_64_build_tracing: any of: src/virgl_util.h, src/virgl_util.c
