Repository Vera-Firefly/Virglrenderer-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian/x86_64_build_msm, debian/x86_64_build_minigbm, debian/x86_64_build_tracing

Path conditions:
  debian/x86_64_build_msm: any of: src/drm/**/*
  debian/x86_64_build_minigbm: any of: src/vrend_winsys_gbm.*, src/vrend_winsys_egl.c, src/vrend_renderer.c
  debian/x86_64_build_tracing: any of: src/virgl_util.h, src/virgl_util.c

tgsi: check that we are in the limits of an immediate vec4
  src/gallium/auxiliary/tgsi/tgsi_parse.c
  src/gallium/auxiliary/tgsi/tgsi_parse.h
Due: none

tgsi: reject incorrect range declaration early
  src/gallium/auxiliary/tgsi/tgsi_build.c
Due: none

shader: replace many assert with error return
  src/vrend_shader.c
Due: none

tgsi: check limit of property number when parsing
  src/gallium/auxiliary/tgsi/tgsi_parse.c
  src/gallium/auxiliary/tgsi/tgsi_parse.h
Due: none

tgsi: tie "success" in dumping stream also to successfully iterating the shader
  src/gallium/auxiliary/tgsi/tgsi_dump.c
Due: none

shader: refactor get_source_info and add additional checks
  src/vrend_shader.c
Due: none

vrend: remove unused function 'to_pipe_swizzle'
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

shader: refactor get destination info and add checks
  src/vrend_shader.c
Due: none

shader: refactor sysvalue input identification and test whether value was found
  src/vrend_shader.c
Due: none

tgsi: Check whether the number of texture offsets is within limits
  src/gallium/auxiliary/tgsi/tgsi_parse.c
Due: none

tgsi: Add entries for additional semantics
  src/gallium/auxiliary/tgsi/tgsi_strings.c
Due: none

ci/venus: sync 2 timeout tests from mesa side
  .gitlab-ci/expectations/virt/venus-skips.txt
Due: none

tests: add test for vrend_decode_set_scissor_state
  tests/test_virgl_cmd.c
Due: none

vrend/decode: move checks earlier in vrend_decode_set_scissor_state
  src/vrend_decode.c
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

video: Add picture desc variables for mjpeg
  src/virgl_video_hw.h
Due: none

video: Add definition of virgl_av1_picture_desc
  src/virgl_video_hw.h
Due: none

video: Add support for AV1 decoding
  src/virgl_video.c
  src/vrend_video.c
Due: none

video: Fix compile warnings for virgl_video_codec_profile
  src/virgl_video.h
Due: none

video: Enable AV1 decoding
  src/virgl_video.c
Due: none

ci: Don't run many more jobs than we have
  .gitlab-ci.yml
Due: none

shader: allocate the right number of fp64 dest strings
  src/vrend_shader.c
Due: none

shader: replace strncpy with snprintf
  src/vrend_shader.c
Due: none

Uprev Mesa to e5b65566974e70fdc1fb16c52218f30f7219007d
  .gitlab-ci.yml
  .gitlab-ci/expectations/host/virgl-gl-fails.txt
  .gitlab-ci/expectations/host/virgl-gl-flakes.txt
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/host/virgl-gles-flakes.txt
  .gitlab-ci/expectations/virt/venus-flakes.txt
  .gitlab-ci/expectations/virt/venus-skips.txt
  .gitlab-ci/expectations/virt/virgl-gl-fails.txt
  .gitlab-ci/expectations/virt/virgl-gl-flakes.txt
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/virgl-gles-flakes.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

shader: Implement TGSI_SEMANTIC_VERTEXID_NOBASE
  src/vrend_shader.c
Due: none

vrend: Emit end of conditional render only if it was started
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

shader: Fix inderection issues
  src/vrend_shader.c
Due: none

vrend: Allow drawing without any VE bound
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

video: Fix encoding support indication under some profiles
  src/virgl_video.c
Due: none

decode: Reduce the size of the buffer copy
  src/vrend_decode.c
Due: none

vkr: Implement vkGetDeviceQueue with vkGetDeviceQueue2
  src/venus/vkr_queue.c
Due: none

vkr: Ignore VkDeviceQueueTimelineInfoMESA if ringIdx is 0
  src/venus/vkr_queue.c
Due: none

vkr: Refactor assigning vkr_queue::ring_idx
  src/venus/vkr_queue.c
Due: none

vkr: Prevent app from rebinding vkr_queue::ring_idx
  src/venus/vkr_queue.c
Due: none

video: Replace macro MIN with MIN2
  src/vrend_video.c
Due: none

util: Create a new logger with log levels
  server/render_state.c
  src/venus/vkr_renderer.c
  src/venus/vkr_renderer.h
  src/virgl_util.c
  src/virgl_util.h
  src/virglrenderer.c
  src/virglrenderer.h
Due: debian/x86_64_build_tracing

util: Introduce virgl_prefixed_logv
  src/drm/drm_util.c
  src/proxy/proxy_common.c
  src/venus/vkr_common.c
  src/virgl_util.c
  src/virgl_util.h
  src/vrend_debug.h
Due: debian/x86_64_build_msm, debian/x86_64_build_tracing

util: Rename virgl_log into virgl_info
  src/virgl_util.h
  src/virgl_video.c
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm, debian/x86_64_build_tracing

util: Add virgl_override_log_level
  src/virgl_util.c
  src/virgl_util.h
Due: debian/x86_64_build_tracing

meson: Increment the interface age
  meson.build
Due: none

util: Add virgl_warn function
  src/virgl_util.h
  src/vrend_renderer.c
  src/vrend_shader.c
  src/vrend_video.c
  src/vrend_winsys_egl.c
Due: debian/x86_64_build_minigbm, debian/x86_64_build_tracing
