Repository Vera-Firefly/Virglrenderer-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian/x86_64_build_msm, debian/x86_64_build_minigbm, debian/x86_64_build_tracing

Path conditions:
  debian/x86_64_build_msm: any of: src/drm/**/*
  debian/x86_64_build_minigbm: any of: src/vrend_winsys_gbm.*, src/vrend_winsys_egl.c, src/vrend_renderer.c
  debian/x86_64_build_tracing: any of: src/virgl_util.h, src/virgl_util.c

vrend_renderer: move feat_gles31_vertex_attrib_binding into binding
  src/virgl_hw.h
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

virglrenderer: Make sure to never allow two resources with the same handle
  src/virglrenderer.c
Due: none

resource: virgl_resource_create_from_pipe always take the ownership of the pipe_resource
  src/virgl_resource.c
  src/virglrenderer.c
Due: none

resource: virgl_resource_create_from_fd always take the ownership of the fd
  src/virgl_resource.c
  src/virglrenderer.c
Due: none

vrend/decode: refactor parameters check in create_shader
  src/vrend_decode.c
  src/vrend_renderer.c
  tests/test_virgl_cmd.c
Due: debian/x86_64_build_minigbm

Uprev Mesa to 08735fd90d458295a37f23c5ba5e49d91b3f68c1
  .gitlab-ci.yml
Due: none

renderer: Separate partial shader initialization from the shader object
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend_renderer: add missing message for error
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: Handle and report TEXTURE_MIRROR_CLAMP correctly
  src/virgl_hw.h
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

util: Move p_format.h to u_formats.h
  src/gallium/auxiliary/tgsi/tgsi_build.c
  src/gallium/auxiliary/util/u_format.h
  src/gallium/include/pipe/p_state.h
  src/gallium/meson.build
  src/mesa/util/u_formats.h
  src/virgl_video.c
  src/virgl_video.h
  tests/test_virgl_cmd.c
  tests/test_virgl_resource.c
  tests/testvirgl.c
Due: none

Synchronize the supported formats with Mesa
  src/gallium/auxiliary/util/u_format.csv
  src/mesa/util/u_formats.h
  src/virgl_hw.h
Due: none

format: Add a block depth field to the u_formats table
  src/gallium/auxiliary/util/u_format.csv
  src/gallium/auxiliary/util/u_format_parse.py
Due: none

format: Add block depth to the format utils
  src/gallium/auxiliary/util/u_format.h
  src/gallium/auxiliary/util/u_format_table.py
Due: none

vrend: Check index buffer size before submitting draw operation
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: Check whether swizzle is in valid range
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

mesa: Move pipe_swizzle to u_formats.h
  src/gallium/include/pipe/p_defines.h
  src/mesa/util/u_formats.h
Due: none

formats: Use X/Y/Z/W/0/1 for pipe_swizzle
  src/gallium/auxiliary/util/u_format.c
  src/mesa/util/u_formats.h
  src/vrend_blitter.c
  src/vrend_formats.c
  src/vrend_renderer.c
  src/vrend_shader.c
Due: debian/x86_64_build_minigbm

u_format: Merge util_format_swizzle and pipe_swizzle
  src/gallium/auxiliary/util/u_format.c
  src/gallium/auxiliary/util/u_format.h
  src/gallium/auxiliary/util/u_format_table.py
  src/mesa/util/u_formats.h
  src/vrend_renderer.c
  src/vrend_shader.c
Due: debian/x86_64_build_minigbm

decode: use virgl_error in string marker decoding
  src/vrend_decode.c
Due: none

ci: Re-enable cull tests
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

vrend: Don't assert on invalid polygon fill mode
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend/decode: refactor parameters check in clear_texture
  src/vrend_decode.c
  src/vrend_renderer.c
  src/vrend_renderer.h
  tests/test_virgl_cmd.c
  tests/testvirgl_encode.c
  tests/testvirgl_encode.h
Due: debian/x86_64_build_minigbm

util: Add a "silent" log mode
  src/virgl_util.c
  src/virglrenderer.h
Due: debian/x86_64_build_tracing

vrend: If no VS or no FS is bound then don't draw
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend/decode: add missing check to test of create_surface
  tests/test_virgl_cmd.c
Due: none

vrend: Check whether a texture view can be created before blitting
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

format: Add texture view class to the format table
  src/vrend_formats.c
  src/vrend_renderer.c
  src/vrend_renderer.h
Due: debian/x86_64_build_minigbm

ci: Reduce the number of skips
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

vrend: don't make a texture view if levels or layers is zero
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: Mark gfx shader clean only after successful select
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: Check if blit view formats are supported
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vkr: Update protocol for VK_EXT_graphics_pipeline_library
  src/venus/venus-protocol/vn_protocol_driver_render_pass.h
  src/venus/venus-protocol/vn_protocol_renderer.h
  src/venus/venus-protocol/vn_protocol_renderer_device.h
  src/venus/venus-protocol/vn_protocol_renderer_info.h
  src/venus/venus-protocol/vn_protocol_renderer_pipeline.h
  src/venus/venus-protocol/vn_protocol_renderer_types.h
Due: none

vkr: Enable VK_EXT_graphics_pipeline_library
  src/venus/vkr_common.c
Due: none

vkr: add basic tracepoints to help profile and debug
  src/venus/vkr_command_buffer.c
  src/venus/vkr_device_memory.c
  src/venus/vkr_pipeline.c
  src/venus/vkr_queue.c
  src/venus/vkr_transport.c
Due: none

vrend: Fix check for ARB_shader_draw_parameters
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vrend: only support sampler views for formats that we actually support
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

formats: Use util_format_has_stencil instead of hardcoding format values
  src/vrend_formats.c
Due: none

vrend_renderer: improve error checking in draw_vbo
  src/vrend_renderer.c
  tests/test_virgl_cmd.c
  tests/testvirgl_encode.c
  tests/testvirgl_encode.h
Due: debian/x86_64_build_minigbm

ci: disable spec@arb_shader_image_load_store@execution@disable_early_z
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/host/virgl-gles-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

Uprev Mesa to 7a83109835634c5b6c4c979d83b8aeb8a7c5f421
  .gitlab-ci.yml
  .gitlab-ci/expectations/host/virgl-gles-fails.txt
  .gitlab-ci/expectations/virt/venus-fails.txt
  .gitlab-ci/expectations/virt/venus-flakes.txt
  .gitlab-ci/expectations/virt/venus-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-fails.txt
Due: none
