Repository Vera-Firefly/Virglrenderer-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian/x86_64_build_msm, debian/x86_64_build_minigbm, debian/x86_64_build_tracing

Path conditions:
  debian/x86_64_build_msm: any of: src/drm/**/*
  debian/x86_64_build_minigbm: any of: src/vrend_winsys_gbm.*, src/vrend_winsys_egl.c, src/vrend_renderer.c
  debian/x86_64_build_tracing: any of: src/virgl_util.h, src/virgl_util.c

util: Add virgl_debug function
  src/virgl_util.h
  src/virgl_video.c
  src/vrend_debug.h
  src/vrend_decode.c
  src/vrend_renderer.c
  src/vrend_strbuf.h
  src/vrend_winsys_egl.c
Due: debian/x86_64_build_minigbm, debian/x86_64_build_tracing

util: Add virgl_error function
  src/drm/drm_renderer.h
  src/proxy/proxy_renderer.h
  src/virgl_util.h
  src/virgl_video.c
  src/virglrenderer.c
  src/vrend_blitter.c
  src/vrend_decode.c
  src/vrend_renderer.c
  src/vrend_shader.c
  src/vrend_video.c
  src/vrend_winsys.c
  src/vrend_winsys_egl.c
Due: debian/x86_64_build_msm, debian/x86_64_build_minigbm, debian/x86_64_build_tracing

debug: Remove vrend_printf
  src/vrend_debug.h
Due: none

debug: Force the log level to debug when VREND_DEBUG is in use
  src/vrend_debug.c
Due: none

shader: Use a switch to select the immediate type
  src/vrend_shader.c
Due: none

shader: Use a switch to iterate the immediates in get_source_info
  src/vrend_shader.c
Due: none

renderer: Plug a leak on query creation failure
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

util: Fix log level lookup
  src/virgl_util.c
Due: debian/x86_64_build_tracing

tests: Fix the combined test of set_scissor_state
  tests/test_virgl_cmd.c
Due: none

tests: Add testvirgl_ctx_send_cmdbuf
  tests/testvirgl.c
  tests/testvirgl.h
Due: none

tests: Replace virgl_renderer_submit_cmd with testvirgl_ctx_send_cmdbuf
  tests/test_virgl_cmd.c
  tests/test_virgl_transfer.c
Due: none

decode: verify the presence of constant buffer data before use
  src/vrend_decode.c
Due: none

tests: Add virgl_decode_set_constant_buffer tests
  tests/test_virgl_cmd.c
Due: none

decode: verify the presence of handles before use
  src/vrend_decode.c
Due: none

tests: Add virgl_decode_bind_sampler_states tests
  tests/test_virgl_cmd.c
Due: none

p_state: Decrease the size of pipe_box - 24 -> 16 bytes
  src/gallium/include/pipe/p_state.h
Due: none

vkr: explicitly fail vkGetDeviceQueue
  src/venus/vkr_queue.c
Due: none

vkr: fix vkr_queue_assign_ring_idx
  src/venus/vkr_queue.c
Due: none

vkr: ensure to fail invalid driver retrieval of device queue
  src/venus/vkr_queue.c
Due: none

venus: Reject misaligned VkShaderModuleCreateInfo::codeSize
  src/venus/vkr_pipeline.c
Due: none

vrend/decode: remove duplicated checks for viewport code
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

tests: add test for vrend_decode_set_viewport_state
  tests/test_virgl_cmd.c
Due: none

vrend: check qbo resource is valid
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Make vrend_depth_test_enable take a sub_ctx
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Make vrend_alpha_test_enable take a sub_ctx
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Make vrend_hw_emit_dsa take a sub_ctx
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Add vrend_object_bind_dsa_to_sub_context
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Change the current subcontext to the currently deleted one on context destruction
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Check that the z index is not out of bound
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

Uprev Mesa to ae5e2c1fea864d7d9836a443ad68950be66da679
  .gitlab-ci.yml
  .gitlab-ci/expectations/host/virgl-gl-fails.txt
  .gitlab-ci/expectations/virt/virgl-gl-fails.txt
  .gitlab-ci/expectations/virt/virgl-gl-skips.txt
  .gitlab-ci/expectations/virt/virgl-gles-skips.txt
Due: none

vrend: Don't try to copy to res->iov if there is none
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Ensure that wrong offset are not being used.
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

shader: check register index when accessing immediate array
  src/vrend_shader.c
Due: none

vrend: check whether injected TCS was really allocated
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

shader: Check number of shader inputs to avoid OOB write
  src/vrend_shader.c
Due: none

vrend: check IOV and its size before writing to it
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Ensure that the box of the copy region is within the original resource
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

renderer: Replace check_transfer_bounds with resource_contains_box
  src/vrend_renderer.c
Due: debian/x86_64_build_minigbm

vkr: refactor to add is_dispatched_from_vkr_context helper
  src/venus/vkr_transport.c
Due: none

vkr: tighten up threading for transport dispatch
  src/venus/vkr_transport.c
Due: none
